Source: calculate-files
Version: 1.0.0
Section: utils
Priority: optional
Maintainer: Kisterniy Volodymyr <Sergey22kisterniy@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/shh1raii/KisterniyLabs
Package: calculate-files
Architecture: all
Depends: bash
Description: A simple script to calculate files in a directory
This script counts the number of files in a given directory.
